<h1>Welcome to Your To Do List</h1>
<form action="/toDoList" method="post">
	<label for="userList">Enter Your Name Here:</label>
	<input type="text" name="user" />
	<input type="submit" value="New List" name="newList">
</form>	
