body {
background-color : beige;
}

label {
margin-right: 5px;
margin-bottom: 5px;
}

input {
margin-right: 5px;
margin-bottom: 5px;
}

div{
	display:inline;
}

.postRequest {
margin-top: 25px;
}

#clear {
margin-top:50px;
}	